# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Angular
node_modules/
.angular/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database backups
*.dump

# Logs
*.log